.container{
    width: 1352px;
    margin: 0 auto;
    padding: 0 20px;
}
@media only screen and (max-width:1000px){
    .container{
        width: 1000px;
        
    }
}
@media screen and (max-width:768px){
    .container{
        width: 768px;

    }
}
@media screen and (max-width:480px){
    .container{
        width: 470px;
        padding: 0 5px;
    }
}
@media screen and (max-width:320px){
    .container{
        width: 310px;
        padding: 0 5px;
    }
}