.header__container--navbar{
    width: 1312px;
    height: 100px;
    margin-top: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    i{
        width: 24px;
        height: 24px;
    }
}
.header__container--navbar__links{
    width: 1012px;
    height: 23px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    a{
        font-family: 'Roboto Slab';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color: #404040;
       
    }
    a:hover{
        transition: 1s;
       
        color: #119FC3;
    }
    a:active{
        transition: 0.1s;
       font-size: 16px;
    }
}
.hamburger{
    display: none;
}
@media screen and (max-width:1000px){
    .header__container--navbar{
        width: 960px;
        height: 100px;
        margin-top: 32px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        i{
            width: 24px;
            height: 24px;
        }
    }
    .header__container--navbar__links{
        width: 822px;
        height: 21px;
        a{
            font-family: 'Roboto Slab';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height */



/* Others/Text */

color: #404040;
        }
        a:active{
            font-size: 13px;
        }
    }
}
@media screen and (max-width:768px){
    .header__container--navbar{
        width: 728px;
        height: 100px;
        i{
            display: inline-block;
        }
    }
    .header__container--navbar__links{
        display: none;
    }
    .icons{
        width: 68px;
        height: 24px;
        display: flex;
        align-items: center;    
        justify-content: space-between; 
    }
}
@media screen and (max-width:460px){
    .header__container--navbar{
        width: 460px;
        height: 64px;
        img{
            width: 64px;
            height: 64px;
        }
    }
}
@media screen and (max-width:320px){
    .header__container--navbar{
        width: 300px;
        height: 48px;
        img{
            width: 48px;
            height: 48px;
        }
    }
}
